.go-back {
  cursor: pointer;
  font-size: 11px;
  margin-bottom: 5px;
  color: darkolivegreen;
}

.search-empty {
  height: calc(100vh - 14rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #a51d1d;
  margin-left: 1rem;
}

.search_error-icon {
  height: 120px;
  width: 120px;
}

.search__back {
  cursor: pointer;
}
